{
    "presets": [
      "razzle/babel", // NEEDED
     ],
     "plugins": [
        ["babel-plugin-root-import", {
            "rootPathPrefix": "~",
            "rootPathSuffix": "src"
        }],
        "transform-decorators-legacy"
    ]
  }